# Application settings
# APP_PORT (the port that application will listening)
# Access-Control-Allow-Origin: WEB_FE_DOMAIN_HOST & MOBILE_FE_DOMAIN_HOST
# API_PREFIX - API URL prefix: Example http://localhost:3000/api/v2
# STATIC_ASSETS_PATH: setting default directory for public static assets

# PORT=3040
WEB_FE_DOMAIN_HOST="*"
MOBILE_FE_DOMAIN_HOST="*"
API_PREFIX="api/v2"
STATIC_ASSETS_PATH="/public"
ACCESS_TOKEN_SECRET="16bc3377085f75d8b7a63f6cf938ab1a2e6eec2ef7d11235db6fdb766af7baaa0a542240b48802a4fde1ffa793b4d9c67d27f0efe1ea54e90e62569dc667c1d8"
ACCESS_TOKEN_LONG_LIFE="5m"
REFRESH_TOKEN_SECRET="992a6ff78b04956bad93167ded341278c6ef94d51e7f1880e0a092aa9384cc8c83bd654d92b40bf9ebb13df51676bac6e8e09ec31b2d359d73d959ac158b10d1"
REFRESH_TOKEN_LONG_LIFE="7d"

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://postgres:root@localhost:5432/mgw?schema=public"

# Throttler configs for Rate Limiting to prevent brute-force attacks
# THROTTLER_TTL (time to live)
# THROTTLER_LIMIT (the maximum number of requests within the ttl)
# Example: ttl=60 limit=10
# The above would mean that 10 requests from the same IP can be made to a single endpoint in 1 minute.

THROTTLER_TTL=60
THROTTLER_LIMIT=100
